<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingjun.ssm.dao.BiwhitecardinfotbMapper">
  <resultMap id="BaseResultMap" type="com.yingjun.ssm.entity.Biwhitecardinfotb">
    <id column="biwhitecardinfotb_id" jdbcType="BIGINT" property="biwhitecardinfotbId" />
    <result column="cardno" jdbcType="VARCHAR" property="cardno" />
    <result column="kktype" jdbcType="VARCHAR" property="kktype" />
    <result column="unitcode" jdbcType="VARCHAR" property="unitcode" />
    <result column="mobileno" jdbcType="VARCHAR" property="mobileno" />
    <result column="productcompany" jdbcType="VARCHAR" property="productcompany" />
    <result column="productmodel" jdbcType="VARCHAR" property="productmodel" />
    <result column="rsvd" jdbcType="VARCHAR" property="rsvd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    biwhitecardinfotb_id, cardno, kktype, unitcode, mobileno, productcompany, productmodel, 
    rsvd
  </sql>
  <select id="selectByExample" parameterType="com.yingjun.ssm.entity.BiwhitecardinfotbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biwhitecardinfotb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biwhitecardinfotb
    where biwhitecardinfotb_id = #{biwhitecardinfotbId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from biwhitecardinfotb
    where biwhitecardinfotb_id = #{biwhitecardinfotbId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yingjun.ssm.entity.BiwhitecardinfotbExample">
    delete from biwhitecardinfotb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yingjun.ssm.entity.Biwhitecardinfotb">
    insert into biwhitecardinfotb (biwhitecardinfotb_id, cardno, kktype, 
      unitcode, mobileno, productcompany, 
      productmodel, rsvd)
    values (#{biwhitecardinfotbId,jdbcType=BIGINT}, #{cardno,jdbcType=VARCHAR}, #{kktype,jdbcType=VARCHAR}, 
      #{unitcode,jdbcType=VARCHAR}, #{mobileno,jdbcType=VARCHAR}, #{productcompany,jdbcType=VARCHAR}, 
      #{productmodel,jdbcType=VARCHAR}, #{rsvd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yingjun.ssm.entity.Biwhitecardinfotb">
    insert into biwhitecardinfotb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="biwhitecardinfotbId != null">
        biwhitecardinfotb_id,
      </if>
      <if test="cardno != null">
        cardno,
      </if>
      <if test="kktype != null">
        kktype,
      </if>
      <if test="unitcode != null">
        unitcode,
      </if>
      <if test="mobileno != null">
        mobileno,
      </if>
      <if test="productcompany != null">
        productcompany,
      </if>
      <if test="productmodel != null">
        productmodel,
      </if>
      <if test="rsvd != null">
        rsvd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="biwhitecardinfotbId != null">
        #{biwhitecardinfotbId,jdbcType=BIGINT},
      </if>
      <if test="cardno != null">
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="kktype != null">
        #{kktype,jdbcType=VARCHAR},
      </if>
      <if test="unitcode != null">
        #{unitcode,jdbcType=VARCHAR},
      </if>
      <if test="mobileno != null">
        #{mobileno,jdbcType=VARCHAR},
      </if>
      <if test="productcompany != null">
        #{productcompany,jdbcType=VARCHAR},
      </if>
      <if test="productmodel != null">
        #{productmodel,jdbcType=VARCHAR},
      </if>
      <if test="rsvd != null">
        #{rsvd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yingjun.ssm.entity.BiwhitecardinfotbExample" resultType="java.lang.Long">
    select count(*) from biwhitecardinfotb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biwhitecardinfotb
    <set>
      <if test="record.biwhitecardinfotbId != null">
        biwhitecardinfotb_id = #{record.biwhitecardinfotbId,jdbcType=BIGINT},
      </if>
      <if test="record.cardno != null">
        cardno = #{record.cardno,jdbcType=VARCHAR},
      </if>
      <if test="record.kktype != null">
        kktype = #{record.kktype,jdbcType=VARCHAR},
      </if>
      <if test="record.unitcode != null">
        unitcode = #{record.unitcode,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileno != null">
        mobileno = #{record.mobileno,jdbcType=VARCHAR},
      </if>
      <if test="record.productcompany != null">
        productcompany = #{record.productcompany,jdbcType=VARCHAR},
      </if>
      <if test="record.productmodel != null">
        productmodel = #{record.productmodel,jdbcType=VARCHAR},
      </if>
      <if test="record.rsvd != null">
        rsvd = #{record.rsvd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biwhitecardinfotb
    set biwhitecardinfotb_id = #{record.biwhitecardinfotbId,jdbcType=BIGINT},
      cardno = #{record.cardno,jdbcType=VARCHAR},
      kktype = #{record.kktype,jdbcType=VARCHAR},
      unitcode = #{record.unitcode,jdbcType=VARCHAR},
      mobileno = #{record.mobileno,jdbcType=VARCHAR},
      productcompany = #{record.productcompany,jdbcType=VARCHAR},
      productmodel = #{record.productmodel,jdbcType=VARCHAR},
      rsvd = #{record.rsvd,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yingjun.ssm.entity.Biwhitecardinfotb">
    update biwhitecardinfotb
    <set>
      <if test="cardno != null">
        cardno = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="kktype != null">
        kktype = #{kktype,jdbcType=VARCHAR},
      </if>
      <if test="unitcode != null">
        unitcode = #{unitcode,jdbcType=VARCHAR},
      </if>
      <if test="mobileno != null">
        mobileno = #{mobileno,jdbcType=VARCHAR},
      </if>
      <if test="productcompany != null">
        productcompany = #{productcompany,jdbcType=VARCHAR},
      </if>
      <if test="productmodel != null">
        productmodel = #{productmodel,jdbcType=VARCHAR},
      </if>
      <if test="rsvd != null">
        rsvd = #{rsvd,jdbcType=VARCHAR},
      </if>
    </set>
    where biwhitecardinfotb_id = #{biwhitecardinfotbId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yingjun.ssm.entity.Biwhitecardinfotb">
    update biwhitecardinfotb
    set cardno = #{cardno,jdbcType=VARCHAR},
      kktype = #{kktype,jdbcType=VARCHAR},
      unitcode = #{unitcode,jdbcType=VARCHAR},
      mobileno = #{mobileno,jdbcType=VARCHAR},
      productcompany = #{productcompany,jdbcType=VARCHAR},
      productmodel = #{productmodel,jdbcType=VARCHAR},
      rsvd = #{rsvd,jdbcType=VARCHAR}
    where biwhitecardinfotb_id = #{biwhitecardinfotbId,jdbcType=BIGINT}
  </update>
</mapper>