<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingjun.ssm.dao.DictshopcodetbMapper">
  <resultMap id="BaseResultMap" type="com.yingjun.ssm.entity.Dictshopcodetb">
    <id column="dictshopcodetb_id" jdbcType="BIGINT" property="dictshopcodetbId" />
    <result column="shopno" jdbcType="VARCHAR" property="shopno" />
    <result column="shopname" jdbcType="VARCHAR" property="shopname" />
    <result column="rsvd" jdbcType="VARCHAR" property="rsvd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dictshopcodetb_id, shopno, shopname, rsvd
  </sql>
  <select id="selectByExample" parameterType="com.yingjun.ssm.entity.DictshopcodetbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dictshopcodetb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictshopcodetb
    where dictshopcodetb_id = #{dictshopcodetbId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dictshopcodetb
    where dictshopcodetb_id = #{dictshopcodetbId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yingjun.ssm.entity.DictshopcodetbExample">
    delete from dictshopcodetb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yingjun.ssm.entity.Dictshopcodetb">
    insert into dictshopcodetb (dictshopcodetb_id, shopno, shopname, 
      rsvd)
    values (#{dictshopcodetbId,jdbcType=BIGINT}, #{shopno,jdbcType=VARCHAR}, #{shopname,jdbcType=VARCHAR}, 
      #{rsvd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yingjun.ssm.entity.Dictshopcodetb">
    insert into dictshopcodetb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictshopcodetbId != null">
        dictshopcodetb_id,
      </if>
      <if test="shopno != null">
        shopno,
      </if>
      <if test="shopname != null">
        shopname,
      </if>
      <if test="rsvd != null">
        rsvd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictshopcodetbId != null">
        #{dictshopcodetbId,jdbcType=BIGINT},
      </if>
      <if test="shopno != null">
        #{shopno,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="rsvd != null">
        #{rsvd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yingjun.ssm.entity.DictshopcodetbExample" resultType="java.lang.Long">
    select count(*) from dictshopcodetb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dictshopcodetb
    <set>
      <if test="record.dictshopcodetbId != null">
        dictshopcodetb_id = #{record.dictshopcodetbId,jdbcType=BIGINT},
      </if>
      <if test="record.shopno != null">
        shopno = #{record.shopno,jdbcType=VARCHAR},
      </if>
      <if test="record.shopname != null">
        shopname = #{record.shopname,jdbcType=VARCHAR},
      </if>
      <if test="record.rsvd != null">
        rsvd = #{record.rsvd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dictshopcodetb
    set dictshopcodetb_id = #{record.dictshopcodetbId,jdbcType=BIGINT},
      shopno = #{record.shopno,jdbcType=VARCHAR},
      shopname = #{record.shopname,jdbcType=VARCHAR},
      rsvd = #{record.rsvd,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yingjun.ssm.entity.Dictshopcodetb">
    update dictshopcodetb
    <set>
      <if test="shopno != null">
        shopno = #{shopno,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="rsvd != null">
        rsvd = #{rsvd,jdbcType=VARCHAR},
      </if>
    </set>
    where dictshopcodetb_id = #{dictshopcodetbId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yingjun.ssm.entity.Dictshopcodetb">
    update dictshopcodetb
    set shopno = #{shopno,jdbcType=VARCHAR},
      shopname = #{shopname,jdbcType=VARCHAR},
      rsvd = #{rsvd,jdbcType=VARCHAR}
    where dictshopcodetb_id = #{dictshopcodetbId,jdbcType=BIGINT}
  </update>
</mapper>